/* LAYOUT STYLES */
.cart,
.total {
	/* margin-top: 7rem; */
	margin-bottom: 3.125rem;
}

/* CART */
.cart-head {
	margin-bottom: 5rem;
}
.cart-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3125rem;
	color: #000000;
	letter-spacing: 0;
}

.cart-content {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	margin-top: 1rem;
}

.fa-minus {
	margin-right: 1rem;
	margin-left: 0;
}

.inline-p {
	display: inline-block;
	transform: translateX(30%);
	margin-top: 1rem;
}

@media (min-width: 768px) {
	.inline-p {
		transform: translateX(0%);
		margin-top: 0;
	}
}

.inline-btn {
	margin-top: 0.5rem;
}

@media (min-width: 576px) {
	.inline-btn {
		display: none;
	}
}

@media (max-width: 576px) {
	.cart .col-md-1 {
		display: none;
	}
}

.cart-title-bold {
	transform: translateX(-5%);
}

.cart-title-bold .cart-title {
	text-transform: uppercase;
}

.fa-chevron-left {
	transform: translateY(50%);
}

.cart .row {
	border-bottom: 1px solid #979797;
}

@media (min-width: 576px) {
	.cart > div:nth-child(n + 3) > *:not(:last-child) > :first-child {
		visibility: hidden;
	}
}

.cart > div:nth-child(n + 3) > *:last-child {
	margin-top: 2.5rem;
}

.fa-trash,
.fa-plus {
	transform: translateX(-50%);
}

.fa-minus {
	transform: translateX(50%);
}

/* TOTAL */
.total-content {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
}
.total-content-bold {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
	.total-content {
		text-align: center;
	}
}

@media (max-width: 568px) {
	.input-group {
		width: 50%;
		margin: 0 auto;
	}
}

.payment-btn {
	background: #4a90e2;
	border-radius: 25px;
}

@media (min-width: 768px) {
	.coupon .col-md-3 .total-content {
		margin-top: 3px;
	}
}
