/* LAYOUT STYLES */
.header {
	margin-bottom: 6.25rem;
}

.related-product,
.detail {
	margin-bottom: 3.125rem;
}

/* CHANGE CARUOUSEL ICON */
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* DETAIL */
.detail {
	border-bottom: 2px solid #9b9b9b;
}
.inside-row {
	margin-top: 3.125rem;
}

.inside-row > .col-md-3 {
	display: none;
}

@media (min-width: 576px) {
	.inside-row > .col-md-3 {
		display: block;
	}
}

.detail-right {
	margin-bottom: 0.5rem;
}

.detail-right-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.375rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	font-weight: 700;
}

.detail-right-price {
	font-family: Roboto-Italic;
	font-size: 1.875rem;
	color: #000000;
	text-align: center;
}

.detail-right-content {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	margin-bottom: 0.5rem;
	text-align: center;
}

@media (min-width: 768px) {
	.detail-right-title,
	.detail-right-price,
	.detail-right-content {
		text-align: left;
	}
}

.detail-right-btn {
	background: #4a90e2;
	border-radius: 25px;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

i:hover {
	transform: scale(1.2);
}

#addtocart {
	color: black;
}

@media (min-width: 768px) {
	.breadcrumb {
		width: 65.6%;
	}
}

/* RELATED */
.related-product-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.375rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 3.125rem;
	font-weight: 700;
}

@media (min-width: 768px) {
	.related-product-title {
		text-align: left;
	}
}

.related-product-content {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
	.related-product-content {
		margin-bottom: 1.25rem;
	}
}
