/* LAYOUT STYLES */
.header {
	margin-bottom: 3.125rem;
}

/* IMAGE GALLERY */
.image-gallery {
	margin-bottom: 3.125rem;
}
.image-gallery-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.875rem;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3.125rem;
}
.col-md-4 img {
	margin-bottom: 30px;
}

/* RESPONSIVE */
@media (width: 425px) {
	.screen_425 {
		width: 395px !important;
	}
}

@media (width: 768px) {
	.screen_768 {
		height: 365px !important;
	}

	.screen_768_height {
		height: 305px !important;
	}
}

@media (width: 1024px) {
	.screen_1024 {
		height: 395px !important;
	}

	.screen_1024_height {
		height: 312px !important;
	}
}
