/* LAYOUT STYLES */
.header,
.popular-product {
	margin-bottom: 3.125rem;
}

/* CAROUSEL HEADER */
#header {
	height: 100vh;
	margin-bottom: 3.125rem;
}

.carousel-item-1 {
	background: linear-gradient(
			rgba(0, 0, 0, 0.5) 100%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url('../img/index/Buying-Guide-10-Best-Watches-of-2018-under-2000-euros-Monochrome-Watches.jpg')
			no-repeat center;
	background-size: cover;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	height: 100vh;
}

.carousel-item-2 {
	background: linear-gradient(
			rgba(0, 0, 0, 0.5) 100%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url('../img/index/WATCHES_2048x2048.jpg') no-repeat center;
	background-size: cover;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	height: 100vh;
}

.carousel-item-3 {
	background: linear-gradient(
			rgba(0, 0, 0, 0.5) 100%,
			rgba(0, 0, 0, 0.5) 100%
		),
		url('../img/index/Stainless-steel-vintage-wrist-watch_2560x1600.jpg')
			no-repeat center;
	background-size: cover;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	height: 100vh;
}

@media (max-width: 768px) {
	#header,
	.carousel-item-1,
	.carousel-item-2,
	.carousel-item-3 {
		height: 370px;
	}
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.carousel-control-prev,
.carousel-control-next {
	height: 300px !important;
	top: 35% !important;
}

@media (max-width: 425px) {
	.carousel-control-prev,
	.carousel-control-next {
		height: 100px !important;
	}
}

@media (min-width: 768px) {
	.carousel-control-prev,
	.carousel-control-next {
		height: 200px !important;
		top: 25% !important;
	}
}

@media (width: 1920px) {
	.carousel-control-prev,
	.carousel-control-next {
		top: 35% !important;
	}
}

@media (width: 1024px) {
	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		position: absolute;
	}

	.carousel-control-next-icon {
		right: 10%;
	}

	.carousel-control-prev-icon {
		left: 10%;
	}
}

h5 {
	text-transform: uppercase;
	color: white;
}

@media (width: 1024px) {
	.carousel-caption {
		right: -15% !important;
		left: -15% !important;
	}
}

@media (width: 1440px) {
	.carousel-caption {
		left: 10% !important;
	}
}

@media (max-width: 425px) {
	.caption {
		width: 80%;
	}

	.caption > h5 {
		font-size: 0.75rem;
	}

	.caption > p {
		font-size: 0.75rem;
	}

	.caption {
		margin-top: 70px;
	}
}

@media (width: 768px) {
	.caption {
		margin-top: 100px;
	}

	.caption {
		width: 80%;
	}

	.caption > h5 {
		font-size: 1rem;
	}

	.caption > p {
		font-size: 1rem;
	}
}

@media (min-width: 1024px) {
	.caption {
		display: none;
	}
}

/* POPULAR PRODUCT */
.popular-product-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.875rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	text-transform: uppercase;
}
.products-name {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	text-transform: uppercase;
	margin-top: 1rem;
}

.products-name-long {
	font-size: 0.75rem;
	margin-top: 1.4rem;
}
.products-price {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #d0021b;
	letter-spacing: 0;
}

.products-btn {
	margin-bottom: 3.125rem;
}

.products-btn-buy {
	/* background: #4a90e2; */
	border-radius: 25px;
}

.products-btn-more {
	background: rgba(74, 144, 226, 0.5);
	border-radius: 25px;
	color: #4a4a4a;
	border: none;
}

/* MEDIA */
.media {
	background: url('../img/index/Youtube.png') no-repeat center;
	background-size: cover;
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}

@media (min-width: 576px) {
	.media {
		height: 20rem;
	}
}

@media (max-width: 425px) {
	.media {
		height: 150px;
	}
}

.media-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.375rem;
	color: #ffffff;
	letter-spacing: 0;
	text-align: center;
}

.media-content {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #ffffff;
	letter-spacing: 0;
	text-align: center;
}

.media-btn {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #ffffff;
	letter-spacing: 0;
	text-align: center;
	text-transform: uppercase;
}

/* POLICY */
.policy {
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}

.policy .col-md-3:not(:last-child) {
	border-right: 1px solid #e6e6e6;
}

.policy-img {
	margin-bottom: 1rem;
}

.policy-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	text-transform: uppercase;
}

.policy-content {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
}

/* BACK TO TOP BUTTON */
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 50px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: black; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#myBtn:hover {
	background-color: #4a90e2; /* Add a dark-grey background on hover */
}

.fa-arrow-circle-up {
	transform: translateX(-40%);
}

#myCart {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 120px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: black; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px 2px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
}

#myCart:hover {
	background-color: #4a90e2; /* Add a dark-grey background on hover */
}
