/* LAYOUT STYLES */
.header,
.products {
	margin-bottom: 3.125rem;
}

/* PRODUCTS-LEFT */
.products-title {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	font-weight: 700;
}

.products-title-bold {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
	.products-title {
		text-align: left;
	}
}

input {
	margin-right: 1rem;
	transform: translateY(10%);
}

@media (width: 1920px) {
	input {
		transform: translateY(-12%);
	}
}

@media (max-width: 425px) {
	.products .col-md-3 {
		display: none;
	}
}

.breadcrumb {
	width: 55%;
}

@media (width: 375px) {
	.breadcrumb {
		width: 50%;
	}
}

@media (width: 425px) {
	.breadcrumb {
		width: 40%;
		margin-left: 0.5rem;
	}
}

@media (min-width: 768px) {
	.breadcrumb {
		width: 25%;
	}
}

/* PRODUCTS-RIGHT */
.products-name {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	text-transform: uppercase;
	margin-top: 1rem;
}

@media (min-width: 768px) {
	.products-name {
		font-size: 0.75rem;
	}
}

/* .products-name-long {
    font-size: 0.75rem;
    margin-top: 1.4rem;
} */

.products-price {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #d0021b;
	letter-spacing: 0;
}

.products-btn {
	margin-bottom: 3.125rem;
}

.products-btn-buy {
	background-color: #4a90e2;
	border-radius: 25px;
	border: none;
}

.products-btn-more {
	background: rgba(74, 144, 226, 0.5);
	border-radius: 25px;
	color: #4a4a4a;
	border: none;
}

/* @media (max-width: 425px) {
	.select-left {
		width: 50%;
		height: calc(1.5em + 0.5rem);
		padding: 0.25rem 0.75rem;
	}
}

@media (width: 425px) {
	.select-left {
		transform: translateX(12%);
	}
}

@media (min-width: 768px) {
	.select-left {
		display: none;
	}
}

.select-right {
	transform: translateX(102%);
}

@media (width: 375px) {
	.select-right {
		transform: translateX(150%);
	}
}

@media (width: 425px) {
	.select-right {
		transform: translateX(187%);
	}
}

@media (width: 768px) {
	.select-right {
		transform: translateX(344%);
	}
}

@media (width: 1024px) {
	.select-right {
		transform: translateX(424%);
	}
}

@media (min-width: 1440px) {
	.select-right {
		transform: translateX(457%);
	}
} */

@media (min-width: 768px) {
	.select-left {
		display: none !important;
	}
}

.select-right {
	width: 40%;
}

@media (min-width: 768px) {
	.select-right {
		width: 30% !important;
	}
}

@media (max-width: 425px) {
	#inline {
		margin-top: 10px;
	}
}

@media (width: 425px) {
	#inline {
		margin-left: 7px;
		margin-right: 7px;
	}
}

@media (min-width: 768px) {
	#filter {
		display: none;
	}
}
