/* LAYOUT STYLES */
.header,
.products {
	margin-bottom: 3.125rem;
}

/* PRODUCTS-RIGHT */
.products-name {
	font-family: Roboto-Regular;
	font-size: 1rem;
	color: #000000;
	letter-spacing: 0;
	text-transform: uppercase;
	margin-top: 1rem;
}

.products-name-long {
	font-size: 0.75rem;
	margin-top: 1.4rem;
}
.products-price {
	font-family: Roboto-Regular;
	font-size: 1rem;
	color: #d0021b;
	letter-spacing: 0;
}

.products-btn {
	margin-bottom: 3.125rem;
}

.products-btn-buy {
	/* background: #4a90e2; */
	border-radius: 25px;
}

.products-btn-more {
	background: rgba(74, 144, 226, 0.5);
	border-radius: 25px;
	color: #4a4a4a;
	border: none;
}
