* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.div2 {
    float:left;
    width: 33.33%;
    padding: 7.5px;
}

@media screen and (max-width : 768px) {
    .div2 {width: 100%}
}

.image {
    width: 100%;
}

.div1 {
    float: left;
    padding: 7.5px;
}