#header {
    background-image: url('../img/Path12+13.svg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    margin-left: 370px;
    margin-right: 370px;
}

.navbar-brand {
    /* margin-right: 504px; */
}

.nav-item {
    margin-right: 75.5px;
}
/* .video {
    background-image: url('../img/playbutton.svg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* .test {
    background-image: url('../img/playbutton.png');
    height: 150%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
.why {
    margin-top: 124px;
    margin-bottom: 111px;
}

.section1 {
    margin-bottom: 134px;
}

.cta1 {
    background: #2F5BEA;
    margin-bottom: 84px;
}

.feature {
    background-image: url('../img/BG.png');
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.section2 {
    margin-bottom: 137px;
}
.testimonial {
    background-color: #151C32;
}

#cta {
    background-image: url('../img/group2.svg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 127px;
}

.input-group {
    max-width: 523px;
}



.test {
    background-color: white;
    position: relative;
    margin-right: 30px;
    top: 180px;
    left: 15px;
    right: 15px;
    background: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.14);
    border-radius: 5px;
    
}



#mobile {
    position: relative;
    top: 80px;
}

.cta1-left {
    padding-top: 150px;
    color:white;
}

.cta1-right {
    padding-top: 120px;
    color:white;
}