* {
    padding: 0;
    margin: 0;
}

body {
    background: #B2AD98;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 1vw;
    font-size: 1.7vw;
    text-align: center;
    background-color: #D6D1B8;
    color: #434144;
}

table {
    margin: auto;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
} */

tr:hover td{
    background: #434144;
    color: #D6D1B8;
}

.picture{
    max-width: 17vw;
}

h1 {
    margin: 2%;
    text-align: center;
    color: #434144;
}