/* GENERAL */

html {
	font-size: 16px;
}

@media (min-width: 768px) {
	html {
		font-size: 12px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
}

/* FONTS */
@font-face {
	font-family: "SFUIDisplay-Medium";
	src: url("../fonts/aileron/aileron-bold-webfont.woff2") format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/sf-ui-display-medium-58646be638f96.woff")
			format("woff"); /* Pretty Modern Browsers */
}

@font-face {
	font-family: "SFUIDisplay-Regular";
	src: url("../fonts/sfuidisplay-regular-webfont.woff2") format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/sfuidisplay-regular-webfont.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
	font-family: "SFUIDisplay-Bold";
	src: url("../fonts/sf-ui-display-bold-58646a511e3d9.woff2") format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/sf-ui-display-bold-58646a511e3d9.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
	font-family: "SFUIDisplay-Light";
	src: url("../fonts/sf-ui-display-light-58646b33e0551.woff2") format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/sf-ui-display-light-58646b33e0551.woff")
			format("woff"); /* Pretty Modern Browsers */
}

@font-face {
	font-family: "SFUIDisplay-Semibold";
	src: url("../fonts/sf-ui-display-semibold-58646eddcae92.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/sf-ui-display-semibold-58646eddcae92.woff")
			format("woff"); /* Pretty Modern Browsers */
}

/* HEADER */

.header {
	background-image: url("../img/Background-header.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 0px;
	padding-right: 0px;
	height: 50.875rem;
	margin-bottom: 7.625rem;
}

.navbar {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 9.90625rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-slash {
	font-family: SFUIDisplay-Medium;
	font-size: 1.375rem;
	color: #ffffff;
	letter-spacing: 0;
	margin-right: 1.875rem;
}

.header-hotline {
	font-family: SFUIDisplay-Regular;
	font-size: 1.125rem;
	color: #ffffff;
	letter-spacing: 0;
}

.header-quote {
	font-family: SFUIDisplay-Bold;
	font-size: 55px;
	color: #ffffff;
	letter-spacing: 0;
	margin-bottom: 0px;
}

.header-title {
	font-family: SFUIDisplay-Light;
	font-size: 55px;
	color: #ffffff;
	letter-spacing: 0;
	margin-bottom: 0px;
}

/* .header-logo {
	margin-left: 4.1875rem;
} */

/* ABOUT */

.about {
	margin-bottom: 5.625rem;
}

.about-left {
	margin-bottom: 7.375rem;
}

.about-left p {
	font-family: SFUIDisplay-Semibold;
	font-size: 1.8125rem;
	color: #383838;
	letter-spacing: 0;
}

.about-detail p {
	font-family: SFUIDisplay-Regular;
	font-size: 1rem;
	color: #848484;
	letter-spacing: 0;
	line-height: 1.625rem;
}

.button-left,
.button-right {
	margin-right: 1.25rem;
	margin-top: 2.375rem;
}

.button-right {
	border: 1px solid #5a9dea;
	border-radius: 5px;
	font-family: SFUIDisplay-Semibold;
	font-size: 1rem;
	color: #5a9dea;
	letter-spacing: 0;
}

/* .v2 {
	border-right: 5px solid #5ca1f1;
	height: 107px;
	position: relative;
	opacity: 0.4;
	top: 32px;
} */

.v2 {
	border-left: 5px solid #5ca1f1;
	height: 6.6875rem;
	position: absolute;
	opacity: 0.4;
	left: 50%;
	margin-top: 2rem;
	margin-left: -0.25rem;
}

/* .grid-divider {
	overflow-x: hidden;
	position: relative;
}

.grid-divider > [class*="col-"]:nth-child(n + 3):after {
	content: "";
	background-color: #5ca1f1;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: 0.4;
} */

/* MY WORK */

.mywork {
	background: #f5f5f5;
	height: 52.1875rem;
}

.mywork-left {
	width: 28.9375rem;
	height: 12.75rem;
	/* margin-left: 16.625rem; */
}

.mywork-right {
	/* margin-left: 5.5625rem; */
}

.mywork-title {
	padding-top: 7.375rem;
	padding-left: 2.3125rem;
	font-family: SFUIDisplay-Semibold;
	font-size: 3.4375rem;
	color: #333333;
	letter-spacing: 0;
	margin-bottom: 3.375rem;
}

.hl {
	border-top: 4px solid #5a9dea;
	width: 6.9375rem;
	margin-left: 15.5rem;
}

.mywork-subtitle {
	font-family: SFUIDisplay-Semibold;
	font-size: 1.8125rem;
	color: #383838;
	letter-spacing: 0;
	margin-bottom: 0px;
}

.mywork-content {
	margin-top: 1.875rem;
	font-family: SFUIDisplay-Regular;
	font-size: 1rem;
	color: #848484;
	letter-spacing: 0;
	line-height: 1.625rem;
	margin-bottom: 0px;
}

#mywork-Carousel > .carousel-indicators {
	position: relative;
}

/* TESTIMONIAL */

.testimonial {
	margin-bottom: 7.375rem;
}

#myCarousel {
	margin-top: -2rem;
}

.testi-quote {
	margin-left: 10.375rem;
	margin-top: 7.375rem;
	opacity: 0.8;
	font-family: SFUIDisplay-Bold;
	font-size: 3.4375rem;
	color: #333333;
	letter-spacing: 0;
	margin-bottom: 0px;
}

.testi-content {
	opacity: 0.8;
	font-family: SFUIDisplay-Regular;
	font-size: 1.625rem;
	color: #383838;
	letter-spacing: 0;
	text-align: center;
	line-height: 2.1875;
	margin-bottom: 0px;
}

.testi-name {
	margin-top: 3.625rem;
	opacity: 0.8;
	font-family: SFUIDisplay-Semibold;
	font-size: 1.125rem;
	color: #383838;
	letter-spacing: 0;
	text-align: center;
	line-height: 2.1875;
	margin-bottom: 0px;
}

.testi-position {
	opacity: 0.8;
	font-family: SFUIDisplay-Regular;
	font-size: 0.875rem;
	color: #696969;
	letter-spacing: 0;
	text-align: center;
	line-height: 1.8125rem;
	margin-bottom: 0px;
}

#prev {
	position: absolute;
	top: 2.86125rem;
	left: 4.23625rem;
}

#next {
	position: absolute;
	top: 2.86125rem;
	right: 4.23625rem;
}

.carousel-indicators li {
	background-color: #5ca1f1;
	border-radius: 8px;
	width: 2.445rem;
	height: 0.125rem;
}

#myCarousel > .carousel-indicators {
	position: relative;
	margin-top: -6.25rem;
	margin-bottom: 8.25rem;
}

/* CONTACT */

.contact {
	margin-bottom: 11rem;
}

.contact-title {
	font-family: SFUIDisplay-Semibold;
	font-size: 3.4375rem;
	color: #333333;
	letter-spacing: 0;
}

.contact > .hl {
	border-top: 4px solid #5a9dea;
	width: 6.9375rem;
	margin-left: 7.1875rem;
}

.contact-content {
	font-family: SFUIDisplay-Semibold;
	font-size: 1.8125rem;
	color: #383838;
	letter-spacing: 0;
	margin-bottom: 0px;
}

.contact-button {
	margin-left: 17.875rem;
}

/* FOOTER */

.footer {
	/* background-image: url("../img/Background-header.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 0px;
	padding-right: 0px;
	height: 13.5625rem; */
	background: #5a9dea;
}

.footer-top {
	padding: 2.375rem 0rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom {
	padding-top: 1.84375rem;
	padding-bottom: 3.125rem;
}

.footer-name {
	font-family: STIXGeneral-Bold;
	font-size: 1.625rem;
	color: #ffffff;
	letter-spacing: 0;
}

.footer-slash {
	font-family: SFUIDisplay-Medium;
	font-size: 1.375rem;
	color: #ffffff;
	letter-spacing: 0;
}

.footer-hotline {
	font-family: SFUIDisplay-Regular;
	font-size: 1.125rem;
	color: #ffffff;
	letter-spacing: 0;
}

.footer-info {
	font-family: SFUIDisplay-Medium;
	font-size: 1.375rem;
	color: #ffffff;
	letter-spacing: 0;
}

.footer-design {
	opacity: 0.8;
	font-family: SFUIDisplay-Light;
	font-size: 1.125rem;
	color: #ffffff;
	letter-spacing: 0;
}
